* {
  font-family: Roboto;
}

#window {
  margin-top: 50px;
  background-color: #000;
  color: #FAFAFA;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 5px black;
}

.navbar {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  padding-left: 24px;
  padding-right: 24px;
}

.inner {
  max-width: 900px;
}

.swapbox_select {
  width: 50%;
  float: left;
}

.swapbox {
  overflow: auto;
  margin: 20px 0;
  padding: 20px;
  background-color: #2f2f2f;
  border-radius: 20px;
  border: 1px solid #565656;
}

.token_select {
  padding: 5px 0;
}

.token_image {
  width: 40px;
}

a {
  font-weight: 500;
  color: #fff;
}

a:hover {
  color: #fff;
}

.navbar {
  color: #fff;
  background-color: #F85C1C;
}

.btn {
  color: #fff;
  background-color: #F85C1C;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border: 0;
  font-weight: 500;
}

.btn:hover {
  color: #fff;
  background-color: #bc3c05;
}

.swap_btn {
  width: 100%;
}

.btn-convert {
  margin-left: 25%;
  color: #fff;
  background-color: lightblue;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border: 5;
  font-weight: 500;
}


.convert_btn {
  width: 50%;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


.info{
  display: block;
  float:center;
  margin-left: 0;
}
.title{
  float: right;
}
.title p{text-align: right;} 

table{
  width: 100%;
  border-collapse: collapse;
}

td{
  padding: 5px 0 5px 15px;
}

.tabletitle{
  padding: 5px;
  font-size: .5em;
}

.percentage{
  padding-left: 20%;
}

.divisor{
  border-bottom: 1px solid white;
}
